/* палітра основних кольорів: 
основний колір: F5F5F5
другорядний колір: 

*/
:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --primary-button-color: #ffffff;
  --secondary-button-background-color: #f5f4fa;
  --secondary-background-color:#F5F5F5;
  --logo-color: #000000;
  --hero-background-color: #2F303A; 
  --footer-contact-background: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-button-color);
  font-family: 'Roboto', sans-serif;
}

/* стилі шапки  */

.logo-header {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-part {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.list {
  list-style: none;
}

.site-nav .link {
color: var(--section-title-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;

}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current{
color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Main */

/* hero section */
.hero{
background-color: var(--hero-background-color); 
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
}

.hero-title, .title {
color: var(--primary-button-color);
}

.button{
cursor: pointer;

}

/* section1 */

.section-title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.section-subtitle {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

}

.section-subtitle.name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.button {

}

.primary{
  color: var(--primary-button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.secondary{
  color: var(--section-title-color);
  background-color: var(--secondary-button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}


.primary .button:hover,
.primary .button:focus {
  color: var(--primary-button-color);
  background-color: var(--accent-color);
}

.secondary .button:hover,
.secondary .button:focus {
  color: var(--primary-button-color);
  background-color: var(--accent-color);

}

/* section 2 */

.feature{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}


/* section 3 */
.our-team{
background-color: var(--secondary-background-color); 
}

.job-title{
font-weight: 400;
font-size: 16px;
list-style: 1.19;
}

/* footer */
.footer{
background-color: var(--hero-background-color);
}

.logo-footer{
color: var(--primary-button-color);
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}

footer{
background-color: var(--hero-background-color);
}

.physical-address{
color: var(--primary-button-color);
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.71;
}

.footer-contact{
  color: var(--footer-contact-background);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}



/* portfolio */

/* main */
/* section 1 */
.secondary{
background-color: var(--primary-button-color);
}

.section-subtitle.portfolio{
font-weight: 700;
font-size: 18px;
line-height: 2;
}


.project-name {
color: var(--section-title-color);
font-weight: 700;
}

p.product{
color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.88;
}

/* footer */

.footer-item{
color: var(--footer-contact-background);
font-weight: 400;
font-size: 1.71;
}