/* палітра основних кольорів: 
основний колір: F5F5F5
другорядний колір: 

*/
:root {
  --primary-text-color: rgba(0, 0, 0, 0);
  --section-title-color: #212121;
  --section-subtitle-color: #212121;
  --accent-color: #2196f3;
  --primary-button-color: #ffffff;;
  --primary-button-background-color: #2196f3;;
  --secondary-button-color: #212121;
  --secondary-button-background-color: #f5f4fa;
}

body {
  color: #757575;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

/* стилі шапки  */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.logo-part {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.list {
  list-style: none;
}

.site-nav .link {
color: #212121;
font-weight: 500;

}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current{
color: var(--accent-color);
}

.contacts .link {
  color: #757575;
  font-weight: 500;
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}
/* Main */

/* hero section */

.hero-title{
font-weight: 900;
}

.hero-title, .title {
  color: #FFFFFF;
  background-color: #2F303A;
}

.button{
font-family: 'Roboto', sans-serif;
}

/* section1 */

.section {
}

.section-title {
  color: var(--section-title-color);
  font-weight: 700;
}

.section-subtitle {
  color: var(--section-subtitle-color);
  font-weight: 700;
}

.section-subtitle.name{
  font-weight: 500;
}

.button {

}

.primary{
  color: var(--primary-button-color);
  background-color: var(--primary-button-background-color);
  font-weight: 700;
}

.secondary{
  color: var(--secondary-button-color);
  background-color: var(--secondary-button-background-color);
}


.primary .button:hover,
.primary .button:focus {
  color: var(--primary-button-color);
  background-color: var(--primary-button-background-color);
}

.secondary .button:hover,
.secondary .button:focus {
  color: var(--primary-button-color);
  background-color: var(--primary-button-background-color);

}

.feature{
font-weight: 400;
}

.text .button{
color: #000;
}


.text.button{
color: #000;
}